.highlights-container {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.highlights-container h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
}

.highlight-comps {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 1rem;
    max-width: 100%;
}


.feels-container,
.wind-status-container,
.sunrise-container,
.sunset-container {
    background-color: white;
    border-radius: 8px;
    padding: 0.8rem 1rem;
    margin-top: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feels-container p,
.wind-status-container p,
.sunrise-container p,
.sunset-container p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 0.3rem;
}

.feels-container h2,
.sunrise-container h2,
.sunset-container h2 {
    font-size: 1.5rem;
    color: #222;
}

.wind-status-container h4 {
    font-size: 0.9rem;
    color: #333;
    margin: 0.2rem 0;
}

.feels-container:hover,
.wind-status-container:hover,
.sunrise-container:hover,
.sunset-container:hover {
    transform: translateY(-2px);
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
